*{
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-size: 18px;
  line-height: 1.8;
  
}
header img {
  width: fit-content;
  margin: 0 auto;
}

header {
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url(../clipboard-landing-page-master/images/bg-header-desktop.png);
  background-size: cover;
}

.intro {
  padding: 10px 0;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.intro h2 {
  padding: 5px 0;
}

.action_buttom {
  padding:20px 0 ;
}

.action_buttom button {
  padding: 10px 25px;
  border-radius: 20px;
  margin: 0 10px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
}
.download-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 2px 2px 8px hsl(171deg 66% 44%), 2px 2px 2px hsl(171deg 66% 44%);
}

.download-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 2px 2px 8px hsl(233, 100%, 69%),2px 2px 2px hsl(233, 100%, 69%);

}
.one {
  padding: 10px 0;
  text-align: center;
  width: 45%;
  margin: 0 auto;
}
.one h2 {
  padding: 5px 0;

}
.two {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 50px 0;
}
.two img {
  height: 100%;
  width: 80%;
}
.two .feature div {
  margin-top: 40px;
  width: 65%;
  display: grid;
}
.three {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.three img {
  height: 100%;
  width: 80%;
  margin: auto;
}

.three div:first-child {
  padding: 70px 0;
  width: 65%;
  margin: auto;
}

.four .functions {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  margin: 100px auto;
}
.four .functions div {
  margin: 0 30px;
  width: 26%;
}

.four .functions div img {
  margin-bottom: 35px;
}
.four .functions div h3 {
  margin-bottom: 15px;

}

.company_support {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  margin: 100px 30px;
}

.company_support img {
  margin: 40px;
}
.five {
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  width: 46%;
  margin: 100px auto;
}
footer {
  margin: 0;
  background-color: hsl(205, 16%, 85%);
}

footer .foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}
.foot .logo {
  width: 50px;
  height: 50px;
  margin: 0 70px;
}
.foot .navigations {
  list-style: none;
  max-width: 400px;
}
.navigations li {
  display: inline-block;
  margin: 5px 20px;
  justify-content: center;
}
.social_link img {
  margin: 20px ;
}
a {
  color: hsl(171, 66%, 44%);
}
footer p {
  text-align: center;
}

/* Mobile  */
@media (max-width:765px) {
  header {
    background: url(../clipboard-landing-page-master/images/bg-header-mobile.png);
    background-size: cover;
    padding: 40px 10px;
  }
  .intro {
    width: 100%;
  }
  .one {
    width: 80%;
  }
  .two {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 40px auto;
  }
  .two .feature div {
    margin: 60px 17% auto;
    align-items: center;

  }
  .three div:first-child {
    width: 75%;
  }
  .four .functions {
    display: grid;
  }
  .four .functions div {
    width: 80%;
    margin: 60px auto;
  }
  .company_support {
    display: grid;
    grid-gap: 4em;
    justify-content: center;
    align-items: center;
  }
  .five {
    width: 80%;
    margin-bottom: 40px;
  }
  .action_buttom {
    margin: 12px auto;
    display: grid;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .download-ios {
    margin-bottom: 30px;
  }
  footer .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }
  footer .foot .navigations  li {
    display: grid;
    margin: 10px auto;
  }
  .social_link a {
    margin: 20px 10px;
  }
}


